@media only screen
and (min-width: 768px)
and (max-width: 991px) {
	* {
		font-size: 1em;
	}
	nav {
		height: 0;
	}
	.header-container,
	.footer-container {
		width: 740px;
	}
	.logo {
		width: 30%;
		margin-left: 15px;
	}
	.topnav {
		width: 500px;
		height: 75px;
		font-size: 16px;
	}
	#pipes > a {
		margin-left: 0;
	}

	#container-2 {
		display: block;
	}


	/*******header**********/
.blackline-inner {
	font-size: 12px;
}
.search-input {
	position: relative;
	top: 37px;
	right: 25px;
}

.more-info {
	width: 320px;
	top: 30px;
	left: 30px;
	right: 30px;
	height: 140px;
}
.top-more-info {
	height: 100px;
	padding-right: 10px;
}
.top-more-info h3 {
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}
.top-more-info p {
	font-size: 13px;
	line-height: 13px;
}
.bottom-more-info {
	height: 40px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	display: none;
	
}

.carousel-caption {
	padding: 15px 30px 0 30px;
	height: 100px;
}
.carousel-caption p {
	font-size: 0.5em;
	line-height: 0.9em;
}
.carousel-item img,
#container-1 {
	height: 300px;
}

#botnav,
#botnav ul {
	height: 40px;
}
#container-2 ul li a {
	font-size: 14px;
}
/************ #content ***********/

#content {
	padding-left: 0;
}
#container-7 {
	padding-left: 0;
	padding-right: 0;
	margin-top: 15px;
}
.article-1,
.article-2,
#container-3,
#container-4,
#container-6 {
	height: unset;
}


#wrapper-news {
	padding: 0;
}
.s-news h4,
.s-catalogue h4{
	padding-left: 0;
	text-align: center;
}
#advantages h3{
	font-size: 1.4em;
}
#about h1 {
	font-size: 2em;
}
#about p {
	line-height: 1em;
	font-size: 1em;
	text-align: left;
}
.s-catalogue ul {
	padding-left: 18px;
}
.cert-boxes > div {
	height: 280px;
}
img.lb-image {
    width: 100% !important;
    height: 100% !important;
}
.lb-outerContainer {
	width: 100%;
}

.adv-boxes > div {
	flex-basis: 100%;
}

.adv-boxes > div {
	height: 110px;
}


#fourth-row {
	padding-top: 0;
}
#pipes p {
	padding-top: 0;
	font-size: 1em;
}
#pipes > a {
	margin: 0;
}
.article-1 p,
.article-2 p {
	line-height: 1em;
	font-size: 1em;
}
.abox > p {
	font-size: 1em;
	line-height: 1em;
}
#container-5 {
	height: 630px;
}
#map,
#feedback {
	height: 320px;
}
#feedback form {
	height: 220px;
}

.abox img {
	height: 75%;
}

#fifth-row {
	padding-top: 30px;
}
#news-next,
#news-previous {
	display: none;
}
.s-news {
	height: 325px;
}
#pipes p {
	width: 55%;
}
#wrapper-gallery {
	height: 490px;
}
#vertical-ticker-gallery {
	height: 370px;
}
#vertical-ticker-gallery li  {
	height: 90px;
}
#vertical-ticker-gallery li img {
	height: unset;
}
.s-gallery h4{
	padding-left: 5px;
}
.s-gallery h4 p {
	padding-right: 5px;
	line-height: 35px;
	font-size: 0.8em;
}
/******* FOOTER *********/


.footer-container .row{
	padding: 0 15px; 
	margin: 0 auto;
	position: relative;
	top: 63px;
}
.footer-container .row div h4,
.footer-container .row div ul li a{
	color: #fff;
}
.footer-container .row div h4 {
	font-size: 1.2em;
	margin-bottom: 25px;
}
.footer-container .row div  ul li{
	line-height: 1.2em;
}
.footer-contacts p {
	padding-left: 5px;
}



}/***************eof media ******************/